# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.Magic Draft.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\lucas\RiderProjects\Magic Draft\.idea\.idea.Magic Draft\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
